.multi-range {
	width: 25%;
	min-width: 250px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: inline-block;
	padding: 0 10px;
	position: relative;
}

.header-container-multi-range {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
}

.header-multi-range {
	display: flex;
	align-items: flex-end;
}

.header-multi-range.title {
	justify-content: center;
	white-space: nowrap;

}

.header-multi-range.max {
	position: absolute;
	right: 0;
}

.header-multi-range.min{
position: absolute;
left: 0;
}

.track-multi-range {
	width: 100%;
	height: 15px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	margin: 5px 0 0 0;
}

.section-multi-range {
	height: 100%;
	width: 100%;
	display: flex;
}

.thumbContainer-multi-range {
	width: 100%;
	height: 100%;
	display: flex;
}

.thumbContainer-multi-range.max {
	justify-content: flex-end;
}

.thumb-multi-range {
	height: 100%;
	width: 5px;
	background: white;
}
