.tableContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

table {
	width: 95%;
	margin: 10px 0;
	border-collapse: collapse;
}

.table_header {
	padding: 10px;
}


.dataRow{
    background: white;
}

.headerCell {
	background: black;
	padding: 5px;
	white-space: nowrap;
}

.headerCell:nth-child(1) {
	border-top-left-radius: 5px;
}

.headerCell:last-child {
	border-top-right-radius: 5px;
}

.dataCell {
	display: flex;
	align-items: center;
	margin: 0 0 0 20px;
}

.thumbImg {
	height: 50px;
}

.thumb {
	display: inline-block;
	height: 50px;
}

.title {
	margin: 0 0 0 10px;
}

.table_data {
	white-space: nowrap;
	color: black;
	background: white;
	padding: 4px 0 0 20px;
}

.table_data.unfiltered {
	opacity: 0.6;
}

