* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

body {
	background: rgb(82, 150, 195);
	color: white;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.app {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: relative;
}

.logo {
	height: 100px;
	filter: drop-shadow(10px 1px 5px rgba(0, 0, 0, 0.329) );
	margin: 0 0 10px 0;
}

.sticky_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: sticky;
	top: 0;
	background: rgb(82, 150, 195);
	z-index: 5;
}

.rangeContainer {
	width: 100%;
	min-width: 500px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.input_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 10px 0;
}

.title_search {
	margin: 0 50px 0 0;
	border-radius: 5px;
	width: 300px;
	padding: 0 0 0px 10px;
}

.stores_button_container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stores_button {
	background: none;
	border: 1px white solid;
	color: white;
	padding: 1px 10px;
	border-radius: 7px;
	cursor: pointer;
	height: 25px;
}

.stores_button.header {
	margin: 0 0px 0 40px;
}

.stores_button.select {
	margin: 0 10px 0 0;
}

.stores_button.continue {
	margin: 0 0 10px 0;
}

.stores_button.continue,
.select,
.deselect {
	color: black;
	border: 1px black solid;
}

.stores_button:hover {
	transform: scale(1.05);
}

.titleInput {
	margin: 50px 0 0 50px;
	border: none;
	outline: none;
	padding: 10px;
}

.titleSearch {
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	margin: 0 0 0 20px;
	border-style: none;
	cursor: pointer;
}

.titleInput:focus {
	outline: 4px grey solid;
	-moz-outline-radius: 5px;
}

.titleHeader {
	display: flex;
	justify-content: center;
}

.selection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inputContainer {
	display: flex;
	justify-content: center;
}

.onSaleContainer {
	display: flex;
	flex-direction: column;
}

.onSale {
	transform: scale(1.3);
	margin: 5px;
}

.stores {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.storesOverlay {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.4;
	z-index: 10;
}

.storesSelection {
	background: white;
	color: black;
	z-index: 20;
	border-radius: 10px;
	background: rgb(235, 226, 112);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 150px;
}

.select_container {
	margin: 10px 5px;
}

.checkboxContainer {
	display: flex;
	flex-direction: column;
}

.storeCheckbox {
	margin: 0 3px 10px 0;
}

.storesButton {
	margin: 10px;
	padding: 3px 6px 3px 6px;
	border-radius: 5px;
	border: none;
}

/************* page_buttons_container **************/

.page_buttons_container {
	margin: 5px 0 0px 0;
	width: 500px;
}

.page_buttons_header {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0 0 2px 0;
}

.previous_page {
	position: absolute;
	left: 0;
}

.next_page {
	position: absolute;
	right: 0;
}

.page_buttons {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.arrow {
	width: 30px;
	cursor: pointer;
	position: absolute;
}

.arrow.left {
	left: 0;
}

.arrow.right {
	transform: rotate(180deg);
	right: 0;
}

.current_page {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 10px;
	width: 50px;
}

.previous_next_buttons {
	display: flex;
	justify-content: center;
	margin: 0 0px;
	cursor: pointer;
	width: 30px;
}

.previous_next_buttons.skip {
	margin: 0 0 0 10px;
}
