*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
  background: rgb(49, 151, 219);
  color: white;
}

.titleInput{
  margin:50px 0 0 50px;
  border: none;
  outline: none;
  padding: 10px;
}

.titleSearch{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin:0 0 0 20px;
  border-style: none;
  cursor: pointer;
}

.titleInput:focus{
  outline: 4px grey solid;
  -moz-outline-radius: 5px;
}

.titleHeader{
  display:flex;
  justify-content: center;
  background: orange;
  /* height: 100px; */
}

.selection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer{
  display: flex;
  justify-content: center;
}

.onSaleContainer{
  display: flex;
  flex-direction: column;

}

.onSale{
  transform: scale(1.3);
  margin: 5px;
}

.stores{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

.storesOverlay{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: .4;
  z-index: 1;
}

.storesSelection{
  /* width: 50%; */
  /* height: 300px; */
  background: white;
  color: black;
  z-index: 2;
  border-radius: 10px;
  /* margin: 0 0 250px 0; */
  background: orange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.checkboxContainer{
  /* background: brown; */
  display: flex;
  flex-direction: column;
}

.storeCheckbox{
  margin: 0 3px 10px 0;
}

.storesButton{
  margin: 10px;
  padding: 3px 6px 3px 6px;
  border-radius: 5px;
  border: none;
}


